/* Cascading Style Sheets*/

/*
selector {
	property: value;
}

p {
	color: yellow;
	font-family: "arial", sans-serif;
	font-size: 1.2em;
}
*/
/* Inheritance is a powerful feature of CSS. Like the DOM, CSS views the contents of a document as a node tree.*/
/* Elements that are nested within the node tree will inherit the style properties of their parents.*/

/*class*/
.special {
	font-style: italic;
}

/*You can also target specific types of elements with this class:*/

h2.special {
	text-transform: uppercase;
}

/*The id attribute*/
#purchases {
	border: 1px solid white;
	background-color: #333;
	color: #ccc;
	padding: 1em;
}

#purchases li {
	font-weight: bold;
}